DATABASE_URL="postgresql://postgres:yesglobaltech@localhost:5432/uni_db?schema=public"

JWT_ACCESS_SECRET='1JZFQ8ezEtIjVqVlLGgKXvLEyiD7Uh9OfKJo3vm'
JWT_REFRESH_SECRET='brlo6zO+X/k0M3bcaz4TpkxChZntYkDoGBF+tkA'
JWT_ACCESS_EXPIRES=10h
JWT_REFRESH_EXPIRES=3d

CLOUDINARY_CLOUD_NAME=dzascrna7
CLOUDINARY_API_KEY=875723919633446
CLOUDINARY_API_SECRET=z_3QmmLrSxwgkh7_mTTZzJTqNN8

# SSLCommerz Sandbox
SSL_STORE_ID=your_store_id
SSL_STORE_PASSWORD=your_store_password@ssl
SSL_IS_SANDBOX=true

# Frontend URL (localhost for development)
FRONTEND_URL=http://localhost:3000